@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif !important;
}

ul{
  margin-bottom: 0px !important;
}

/* Base styles (fallback/default) */
.jsx-8b2810b633befb8.w-full.min-h-screen.bg-\[\#c4cfde\].text-white {
  display: flex;
  align-items: center;
  overflow: hidden !important;
}

/* Mobile range: 320px - 600px */
@media (min-width: 320px) and (max-width: 600px) {
  .jsx-8b2810b633befb8.w-full.min-h-screen.bg-\[\#c4cfde\].text-white {
    min-height: 150px !important;
    height: 150px !important;
  }
}

/* Desktop range: 1080px - 1920px */
@media (min-width: 1080px) and (max-width: 1920px) {
  .jsx-8b2810b633befb8.w-full.min-h-screen.bg-\[\#c4cfde\].text-white {
    min-height: 250px !important;
    height: 250px !important;
  }
}



.jsx-8b2810b633befb8.flex.w-fit.animate-marquee-left{
  overflow: hidden !important;
}